## PARTE I - Extração Dados ENEM 2019 
https://download.inep.gov.br/microdados/microdados_enem_2019.zip

In [ ]:
#Instalação da bilbioteca dask para gerenciamento de datframe de grandes tamanhos. Será Utilizada ao invés do Pandas 
#devido ao tamanho do arquivo .csv
!pip install dask

### 1.0 - Importação de bibliotecas Úteis

In [3]:
#importação de Bibliotecas
import dask.dataframe as dd
import zipfile
import requests
import os
from io import BytesIO

### 2.0 - Preparação do Ambiente (Criação de Pasta) e Efetuando Download do Arquivo do Site do Inep

In [5]:
#Criar estrutura de pastas para armazenamento do arquivo baixado
os.makedirs('./enem2019', exist_ok=True)

In [9]:
#Baixando o arquivo do link abaixo e descompactando na pasta /enem2019
url = 'https://download.inep.gov.br/microdados/microdados_enem_2019.zip'

filebytes = BytesIO(
    requests.get(url).content
)

myzip = zipfile.ZipFile(filebytes).extractall('./enem2019')

### 3.0 - Lendo os dados em lote (Arquivo Muito Grande) e colocando em um dataframe já Filtrado por Estado = Ceará

In [12]:
# Cria dataframe com mais memória devido ao tamanho do arquivo
enade = pd.read_csv(
    './enem2019/DADOS/microdados_enem_2019.csv',
    sep = ';' , 
    decimal=',' , 
    low_memory=False
)

In [16]:
#Vê informações do dataframe
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433930 entries, 0 to 433929
Columns: 137 entries, NU_ANO to QE_I68
dtypes: float64(2), int64(33), object(102)
memory usage: 453.6+ MB

In [15]:
#Vê resumo estatístico do dataframe
enade.describe()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,TP_PR_GER,TP_PR_OB_FG,TP_PR_DI_FG,TP_PR_OB_CE,TP_PR_DI_CE,TP_SFG_D1,TP_SFG_D2,TP_SCE_D1,TP_SCE_D2,TP_SCE_D3
count,433930.0,433930.000000,433930.000000,433930.000000,433930.000000,4.339300e+05,433930.000000,4.339300e+05,433930.000000,433930.000000,...,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000,433930.000000
mean,2019.0,1626.420351,8615.828459,10024.387132,2433.396121,5.625108e+05,0.946102,3.359341e+06,33.412055,2.990837,...,521.363296,521.212885,506.761627,521.285532,511.684786,499.755836,492.213048,500.596350,499.535478,483.968647
std,0.0,2737.010677,3488.699854,3.646010,2746.891389,8.522556e+05,0.225817,9.020739e+05,9.011404,0.983905,...,100.251828,100.367719,109.984051,100.311789,107.024677,113.675285,117.075493,113.250304,120.618191,120.142501
min,2019.0,1.000000,93.000000,10019.000000,5.000000,3.000000e+00,0.000000,1.100023e+06,11.000000,1.000000,...,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000
25%,2019.0,349.000000,10002.000000,10020.000000,21.000000,3.923500e+04,1.000000,2.927408e+06,29.000000,2.000000,...,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,333.000000
50%,2019.0,621.000000,10005.000000,10026.000000,55.000000,1.059220e+05,1.000000,3.306305e+06,33.000000,3.000000,...,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000
75%,2019.0,1753.000000,10007.000000,10028.000000,5710.000000,1.159084e+06,1.000000,4.104808e+06,41.000000,4.000000,...,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000,555.000000
max,2019.0,23410.000000,17634.000000,10028.000000,6410.000000,5.001378e+06,1.000000,5.300108e+06,53.000000,5.000000,...,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,666.000000,556.000000

In [19]:
#ver o numero de linhas do dataframe
enade.shape[0]

433930

In [21]:
#Mostra a estrutura do dataframe em forma de dicionário
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}